<h1>Show Grade: <%= @grade.grade_column.name %></h1>

<div class="code-viewer">
  <!-- assets/js/code-viewer -->
  React code viewer loading...
</div>

<script>
 window.code_view_data = JSON.parse(
   "<%= raw(javascript_escape(Jason.encode!(@data))) %>"
 );
</script>
